footer{
    border: 2px solid #000;
    width: 1000px;
    height: 100px;
    margin-left: 50px;
    margin-top: 500px;
    /* margin:10px;
    padding: 20px; */
    text-align: center;
    background: linear-gradient(135deg,
        rgb(239, 203, 230) 0%,
        rgb(238, 141, 212) 35%,
        rgb(223, 56, 179) 65%,
        rgb(227, 15, 171) 100%);
}

footer > h1 {
    text-align: center;
    line-height: 60px;

}